@page
@model BSSL_SIWES.Web.Pages.Setup.CourseGrpSetupModel
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "CourseGrpSetup";
}
  <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Courses Group Setup</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
                <div class="card-body">
                    <div id="divinput">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="exampleInputFile">Institution Type </label>
                                    <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                            asp-items="ViewBag.InstituTypes" style="width: 100%; text-transform:uppercase" id="drpgroup">
                                        <option selected="selected" value="-1">-- Select Institution Type --</option>
                                     </select>
                                    <input asp-for="InstituType.Id" id="hddid" type="hidden" class="form-control" />
                                    <input type="hidden" id="drpvalue" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="exampleInputFile">Courses Group Code</label>
                                    <input type="text" class="form-control" id="txtcode">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label>Courses Group Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtname">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="exampleInputFile">Enter Short Code</label>
                                    <input type="text" class="form-control" id="txtshrtcode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div id="divadd" class="justify-content-center" style="margin-left:35%; margin-bottom:1%;">
                        <button type="submit" id="Btnsave" class="btn btn-primary button button4">Add New Records</button>
                        <button type="submit" id="Btnupdate" class="btn btn-primary button button4">Update Record</button>
                    </div>
                    <div class="row" id="divgrid">
                        <div style="display:table; margin:0 auto; width:100%; font-size:medium">
                            <table id="tabId" class="table table-bordered" border="0">
                                <thead style="background-color:steelblue;">
                                    <tr>
                                        <th style="width:0.25%; text-align:center">S/N</th>
                                        <th style="width:15%; text-align:center">Group Code</th>
                                        <th style="width:60%; text-align:center">Group Name</th>
                                        <th style="width:15%; text-align:center">Short Code</th>
                                        <th style="width:10%; text-align:center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.CourseGrpSetupList.Count; i++)
                                    {
                                        var items = Model.CourseGrpSetupList[i];
                                        //var news = await db.Customers

                                    <tr>
                                        <td class="se_no @i" style="width:0.25%; text-align:left">@(i + 1)</td>
                                        <td class="tabcode @i" style="width:15%; text-align:left">@items.Code</td>
                                        <td class="tabname @i" style="width:60%; text-align:left">@items.Name</td>
                                        <td class="tabshortcode @i" style="width:15%; text-align:left">@items.ShortCode</td>
                                        <td style="width:5%;">
                                            <input type="hidden" class="drpdown @i" value="@items.InstTypeSetup.Id">
                                            <input type="hidden" class="readid @i" value="@items.Id">
                                            <a id="myEdit" AddreEdit="@i" asp-route-id="@items.Id">Edit</a>
                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        formClear();
        function formClear() {
            $("#txtcode").val("");
            $("#txtname").val("");
            $("#txtshrtcode").val("");
            $("#drpgroup").val("");
            $("#Btnsave").show();
            $("#Btnupdate").hide();
        }
        $('#Btnsave').on('click', function (e) {
            $("#Btnsave").show();
            $("#Btnupdate").hide();
            e.preventDefault();
            var txtcode = document.getElementById('txtcode').value;
            var txtname = document.getElementById('txtname').value;
            var txtshrtcode = document.getElementById('txtshrtcode').value;
            var drpgroup = document.getElementById('drpgroup').value;
            var d = {
                "Code": txtcode,
                "Name": txtname,
                "ShortCode": txtshrtcode,
                "InstTypeSetupId": Number(drpgroup)
            };
            var baseUrl = window.location.origin;
            $.ajax({
                type: "POST",
                url: baseUrl + '/Api/CourseGrpSetups',
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },

                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    var myid = data['id'];
                    var rowNumber = $('#tabId tr').length;
                    var html = `<tr>
                            </td>
                                <td class="se_no" style="width:0.25%; text-align:left">${rowNumber}</td>
                                <td style="width:15%; text-align:left">${txtcode}</td>
                                <td style="width:60%; text-align:left">${txtname}</td>
                                <td style="width:15%; text-align:left">${txtshrtcode}</td>

                                <td style="width:5%;" class="action">
                                <input type="hidden" value=${drpgroup}>
                                <input type="hidden" value=${myid}>
                                <a href="/Setup/CourseGrpSetup?id=${myid}">Edit</a>

                            </td>
                            </tr>`
                    $('#tabId').append(html);
                    formClear();
                },
            });
        });
        $("#tabId").on('click', '#myEdit', function () {
            $("#Btnsave").hide();
            $("#Btnupdate").show();
           // $("#BtnEditSubMenu").show()
            var currentRow = $(this).closest("tr");
            var selectedIndex = currentRow.find("td:eq(0)").html();

            var editindex = $(this).attr('AddreEdit');
            var tabcode = $('.tabcode.' + editindex).text();
            var tabname = $('.tabname.' + editindex).text();
            var tabshortcode = $('.tabshortcode.'  + editindex).text();
            var drpdown = $('.drpdown.' + editindex).val();
            var tabid = $('.readid.' + editindex).val();
            $("#drpgroup").val(drpdown);
            $("#txtcode").val(tabcode);
            $("#txtname").val(tabname);
            $("#txtshrtcode").val(tabshortcode);
            $('#hddid').val(tabid);
            $('#rowIndex').val(selectedIndex);

            serialNo = $(this).closest('tr').find('.se_no').text();
            return false;

        });
        $('#Btnupdate').on('click', function (e) {
            e.preventDefault();
            var editindex = document.getElementById('hddid').value;
            var txtcode = document.getElementById('txtcode').value;
            var txtname = document.getElementById('txtname').value;
            var txtshrtcode = document.getElementById('txtshrtcode').value;
            var drpgroup = document.getElementById('drpgroup').value;
            var d = {
                "Code": txtcode,
                "Name": txtname,
                "Id": Number(editindex),
                "ShortCode":txtshrtcode,
                "InstTypeSetupId": Number(drpgroup)
            };
            var t = serialNo - 1;
            var baseUrl = window.location.origin;
            $.ajax({
                type: "PUT",
                url: baseUrl + '/Api/CourseGrpSetups/ ' + txtcode,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    $('.readid.' + t).text(data["id"]);
                    $('.tabcode.' + t).text(data["code"]);
                    $('.tabname.' + t).text(data["name"]);
                    $('.tabshortcode.' + t).text(data["shortCode"]);
                    $('.drpdown.' + t).text(data["instTypeSetupId"]);
                    formClear();
                    
                },
            });
        });
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

