@page
@model BSSL_SIWES.Web.CourseSetupModel
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "CourseSetup";
}
   <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Institution Category Setup</h3>
            </div>
            <div class="modal fade" tabindex="-1" id="loginModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg" style="width:40%; margin-left:35%;">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:steelblue">
                            <h4 class="modal-title" id="monthname" style="margin-left:100px">Setup New Sub-Menu</h4>
                            <button type="button" class="close" data-dismiss="modal">
                                ×
                            </button>
                        </div>
                        <div class="modal-body">
                            <div style="display:table; margin:0 auto; width:100%; font-size:medium">
                                <table id="tabCourse" class="table table-bordered" border="0">
                                    <thead style="background-color:steelblue;">
                                        <tr>
                                            <th style="width:0.25%; text-align:center">S/N</th>
                                            <th style="width:25%; text-align:center">Courses Name</th>
                                            <th style="width:10%; text-align:center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int c = 0; c < Model.NewCourseToApprove.Count; c++)
                                        {
                                            var items = Model.NewCourseToApprove[c];

                                            <tr>
                                                <td class="serialNo @c" style="width:0.25%; text-align:left">@(c + 1)</td>
                                                <td class="courseName @c" style="width:25%; text-align:left">@items.Name</td>

                                                <td style="width:5%;">
                                                    <input type="hidden" class="idselect @c" value="@items.Id">
                                                    <a id="whatSelect" CourseSelected="@c" asp-route-id="@items.Id">Select</a>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <div class="justify-content-center" style="margin-left:40%; margin-bottom:3%;">
                                <button type="button" id="btnHideModal" class="btn btn-info button button4">
                                    Close Dialog
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.NewCourseToApprove.Count() > 0)
            {
                <div class="col-md-10 justify-content-center" style="float:right">
                    <div class="alert  alert-info alert-dismissible fade show" role="alert">
                        <span class="badge badge-pill badge-warning">Alert</span> @Model.MessageAlert
                        <button type="button" class="btn btn-outline-warning" id="ViewCourses">
                            Click To View
                        </button>
                    </div>
                </div>
                <p style="clear:both"></p>
                <form role="form">
                    <div class="card-body">
                        <div id="divinput">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Course Group</label>
                                        <div class="select2-purple">
                                            <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                                    asp-items="ViewBag.CourseGroup" style="width: 100%; text-transform:uppercase" id="courseGrp">
                                                <option selected="selected" value="-1">-- Select Course Group--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Courses Name</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input type="hidden" class="form-control" id="frmRecom">
                                            <input type="hidden" class="form-control" id="rowIndex">
                                            <input type="hidden" class="form-control" id="courseGrpId">
                                            <input type="hidden" class="form-control" id="courseId">
                                            <input type="text" class="form-control" id="courseName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Courses Code</label>
                                        <input type="text" class="form-control" id="courseCode">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Short Code</label>
                                        <input type="text" class="form-control" id="shortCode">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div id="divadd" class="justify-content-center" style="margin-left:35%; margin-bottom:1%;">
                            <button type="button" id="Btnsave" class="btn btn-primary button button4">Add New Records</button>
                            <button type="button" id="BtnEdit" style="display:none" class="btn btn-primary button button4">Update Records</button>
                        </div>
                        <div class="row" id="divgrid">
                            <div style="display:table; margin:0 auto; width:100%; font-size:medium">
                                <table id="tabId" class="table table-bordered" border="0">
                                    <thead style="background-color:steelblue;">
                                        <tr>
                                            <th style="width:0.25%; text-align:center">S/N</th>
                                            <th style="width:23%; text-align:center">Courses Group</th>
                                            <th style="width:15%; text-align:center">Courses Code</th>
                                            <th style="width:23%; text-align:center">Courses Name</th>
                                            <th style="width:15%; text-align:center">Short Code</th>
                                            <th style="width:15%; text-align:center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.CoursesList.Count; i++)
                                        {
                                            var items = Model.CoursesList[i];

                                        <tr>
                                            <td class="se_no @i" style="width:0.25%; text-align:left">@(i + 1)</td>
                                            <td class="courseGrp @i" style="width:23%; text-align:left">@items.CourseGrpSetup.Name</td>
                                            <td class="courseCode @i" style="width:15%; text-align:left">@items.Code</td>
                                            <td class="courseName @i" style="width:23%; text-align:left">@items.Name</td>
                                            <td class="courseShortCode @i" style="width:15%; text-align:left">@items.ShortCode</td>

                                            <td style="width:15%;">
                                                <input type="hidden" class="readid @i" value="@items.Id">
                                                <input type="hidden" class="courseGrpId @i" value="@items.CourseGrpSetupId">
                                                <a id="myEdit" AddreEdit="@i" asp-route-id="@items.Id">Edit Course</a>
                                            </td>

                                        </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <form role="form">
                    <div class="card-body">
                        <div id="divinput">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Course Group</label>
                                        <div class="select2-purple">
                                            <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                                    asp-items="ViewBag.CourseGroup" style="width: 100%; text-transform:uppercase" id="courseGrp">
                                                <option selected="selected" value="-1">-- Select Course Group--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Courses Code</label>
                                        <input type="text" class="form-control" id="courseCode">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Short Code</label>
                                        <input type="text" class="form-control" id="shortCode">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Courses Name</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input type="hidden" class="form-control" id="frmRecom">
                                            <input type="hidden" class="form-control" id="rowIndex">
                                            <input type="hidden" class="form-control" id="courseGrpId">
                                            <input type="hidden" class="form-control" id="courseId">
                                            <input type="text" class="form-control" id="courseName">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="divadd" class="justify-content-center" style="margin-left:35%; margin-bottom:1%;">
                            <button type="button" id="Btnsave" class="btn btn-primary button button4">Add New Records</button>
                            <button type="button" id="BtnEdit" style="display:none;" class="btn btn-primary button button4">Update Records</button>
                        </div>
                        <div class="row" id="divgrid">
                            <div style="display:table; margin:0 auto; width:100%; font-size:medium">
                                <table id="tabId" class="table table-bordered" border="0">
                                    <thead style="background-color:steelblue;">
                                        <tr>
                                            <th style="width:0.25%; text-align:center">S/N</th>
                                            <th style="width:23%; text-align:center">Courses Group</th>
                                            <th style="width:15%; text-align:center">Courses Code</th>
                                            <th style="width:15%; text-align:center">Short Code</th>
                                            <th style="width:23%; text-align:center">Courses Name</th>
                                            <th style="width:15%; text-align:center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.CoursesList.Count; i++)
                                        {
                                            var items = Model.CoursesList[i];

                                        <tr>
                                            <td class="se_no @i" style="width:0.25%; text-align:left">@(i + 1)</td>
                                            <td class="courseGrp @i" style="width:23%; text-align:left">@items.CourseGrpSetup.Name</td>
                                            <td class="courseCode @i" style="width:15%; text-align:left">@items.Code</td>
                                            <td class="courseShortCode @i" style="width:15%; text-align:left">@items.ShortCode</td>
                                            <td class="courseName @i" style="width:23%; text-align:left">@items.Name</td>

                                            <td style="width:15%;">
                                                <input type="hidden" class="courseId @i" value="@items.Id">
                                                <input type="hidden" class="courseGrpId @i" value="@items.CourseGrpSetupId">
                                                <a id="myEdit" AddreEdit="@i" asp-route-id="@items.Id">Edit Course</a>
                                            </td>

                                        </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </form>
            }

        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ViewCourses').click(function () {
            $("#loginModal").modal('show');
            $('#monthname').html("VIEW COURSE SENT FOR SETUP");
        });
        $("#btnHideModal").click(function () {
            $("#loginModal").modal('hide');
        });
        $("#tabCourse").on('click', '#whatSelect', function () {
            
            var currentRow = $(this).closest("tr");
            var selectedIndex = currentRow.find("td:eq(0)").html(); // get current row 1st TD value
             var courseName = currentRow.find("td:eq(1)").html();
             //alert(selectedIndex1)
             var CourseSelected = $(this).attr('CourseSelected');
             var courseId = $('.idselect.' + CourseSelected).val();
             var courseCode = courseName.substring(0, 3);
             var shortCode = courseName.substring(0, 4);

            // alert(courseId);

             $("#loginModal").modal('hide');
             $('#courseId').val(courseId);
             $("#courseName").val(courseName);
            $('#courseCode').val(courseCode);
            $('#shortCode').val(shortCode);

              $('#frmRecom').val("1");
             //alert($('#courseId').val());
            return false;

        });
        $('#Btnsave').on('click', function () {
            var fromRecom = $('#frmRecom').val();
            var courseName = document.getElementById('courseName').value;
            var courseCode = document.getElementById('courseCode').value;
            var courseId = document.getElementById('courseId').value;
            var shortCode = document.getElementById('shortCode').value;
            var courseGrpId = document.getElementById('courseGrp').value;
            var courseGrp = $("#courseGrp option:selected").html();
            var newCourseGrpId = parseInt(courseGrpId);
            var signedUser = parseInt(signedUser);
            var ApprovedBy = "02656";
            var d = {
                "CourseCode": courseCode,
                "CourseName": courseName,
                "ShortCode": shortCode,
                "CourseGrpId": newCourseGrpId,
            };
            var d1 = {
                "Name": courseName,
                "ApprovedBy": ApprovedBy,
            };
            var confirmation = confirm("ARE YOU SURE YOU WANT TO ADD " + courseName.toUpperCase() + " AS A COURSES?");
            if (confirmation == false) {
                return false;
            }
            var baseUrl = window.location.origin;
            $.ajax({
                type: "POST",
                url: baseUrl + '/Api/Courses',
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },

                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    var myid = data['id'];
                    var newCourseCode = data['code'];
                    var newCourseName = data['name'];
                    var newCourseShortCode = data['shortCode'];
                    var rowNumber = $('#tabId tr').length;
                    var html = `<tr>
                            </td>
                                <td class="se_no" style="width:0.25%; text-align:left">${rowNumber}</td>
                                <td class="courseGrp" style="width:23%; text-align:left">${courseGrp}</td>
                                <td class="courseCode" style="width:15%; text-align:left">${newCourseCode}</td>
                                <td class="courseShortCode" style="width:15%; text-align:left">${newCourseShortCode}</td>
                                <td class="courseName" style="width:23%; text-align:left">${newCourseName}</td>

                                <td style="width:15%;" class="action">
                                <input type="hidden" class="readid " value=${myid}>
                                <a href="/Setup/CourseSetup/Edit?id=${myid}">Edit Course</a>

                            </td>
                            </tr>`
                    if (fromRecom == "") {
                        alert("" + courseName.toUpperCase() + " WAS SUCCESSFULLY ADDED TO COURSES");
                        $('#tabId').append(html);
                    }
                    else {
                        $.ajax({
                            type: "PUT",
                            url: baseUrl + '/Api/NewCourseRequests/' + courseId,
                            data: JSON.stringify(d1),
                            xhrFields: {
                                withCredentials: true
                            },

                            contentType: "application/json; charset=utf-8",
                            error: function (data) {
                                alert(data.responseText);

                            },
                            failure: function (data) {
                                alert(data.responseText);
                            },
                            success: function (data) {

                                alert("" + courseName.toUpperCase() + " WAS SUCCESSFULLY ADDED TO COURSES");
                                $('#tabId').append(html);

                                location.reload();
                            },
                        });
                    }
                    $('#courseName').val("");
                    $('#courseId').val("");
                    $('#courseCode').val("");
                    $('#shortCode').val("");
                    $('#courseGrpId').val("");
                    $('#rowIndex').val("");
                    $('#courseGrp').val("-1");

                    $('#frmRecom').val("");
                    //formClear();

                },
            });
        });
        $("#tabId").on('click', '#myEdit', function () {
            var currentRow=$(this).closest("tr");
            var selectedIndex=currentRow.find("td:eq(0)").html(); // get current row 1st TD value

            var editindex = $(this).attr('AddreEdit');
            var courseName = $('.courseName.' + editindex).text();
            var courseId = $('.courseId.' + editindex).val();
            var courseGrpId = $('.courseGrpId.' + editindex).val();
            var courseCode = $('.courseCode.' + editindex).text();
            var shortCode = $('.courseShortCode.' + editindex).text();
             //alert(shortCode);
            document.getElementById('BtnEdit').style.display = "inline-block";
            document.getElementById('Btnsave').style.display = "none";

            $('#courseCode').prop("readonly", true);


            $('#courseName').val(courseName);
            $('#courseId').val(courseId);
            $('#courseCode').val(courseCode);
            $('#shortCode').val(shortCode);
            $('#courseGrpId').val(courseGrpId);
            $('#rowIndex').val(selectedIndex);
            $('#courseGrp').val($('#courseGrpId').val());

            $('#frmRecom').val("");

            //alert(selectedIndex);

            return false;

        });
        $('#BtnEdit').on('click', function () {
            var courseName = document.getElementById('courseName').value;
            var courseId = document.getElementById('courseId').value;
            var shortCode = document.getElementById('shortCode').value;
            var courseGrp = $("#courseGrp option:selected").html();
            var s = document.getElementById('courseGrp').value;
            var courseGrpId = parseInt(s);

            //alert(courseName); alert(courseId); alert(shortCode); alert(courseGrp);
            var d = {
                "CourseName": courseName,
                "ShortCode": shortCode,
                "CourseGrpId": courseGrpId,
            };
            
            var confirmation = confirm("ARE YOU SURE YOU WANT TO EDIT/UPDATE THIS COURSES?");
            if (confirmation == false) {
                return false;
            }
            var baseUrl = window.location.origin;
            $.ajax({
                type: "PUT",
                url: baseUrl + '/Api/Courses/ ' + courseId,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },

                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    console.log(data);
                    var courseName = data['name'];
                    var shortcode = data['shortCode'];
                    var courseGrpSetupId = data['courseGrpSetupId'];
                    alert("COURSE WAS SUCCESSFULLY UPDATED");
                    $("#loginModal").modal('hide');

                    //get row index
                    var rowIndex = $('#rowIndex').val();
                    var t = rowIndex - 1;
                    var rowCourseName = $('.courseName.' + t);
                    var rowShortCode = $('.courseShortCode.' + t);
                    var rowCourseGrpSetId = $('.courseGrp.' + t);

                    rowCourseName.html(courseName);
                    rowShortCode.html(shortcode);
                    rowCourseGrpSetId.html(courseGrp);

                    $('#courseName').val("");
                    $('#courseId').val("");
                    $('#courseCode').val("");
                    $('#shortCode').val("");
                    $('#courseGrpId').val("");
                    $('#rowIndex').val("");
                    $('#courseGrp').val("-1");

                    $('#frmRecom').val("");
                    //location.reload();
                },
            });
        });
    })
    
    $(function () {
        $("#tabId").DataTable();
        $('tablewwwww.paginated').each(function () {
				  var $table = $(this);
				  var itemsPerPage = 10;
				  var currentPage = 0;
				  var pages = Math.ceil($table.find("tr:not(:has(th))").length / itemsPerPage);
				  $table.bind('repaginate', function () {
				    if (pages > 1) {
				    var pager;
				    if ($table.next().hasClass("pager"))
				      pager = $table.next().empty();  else
				    pager = $('<div class="pager" style="padding-top: 20px; direction:ltr; " align="center"></div>');

				    $('<button class="pg-goto"></button>').text(' « First ').bind('click', function () {
				      currentPage = 0;
				      $table.trigger('repaginate');
				    }).appendTo(pager);

				    $('<button class="pg-goto"> « Prev </button>').bind('click', function () {
				      if (currentPage > 0)
				        currentPage--;
				      $table.trigger('repaginate');
				    }).appendTo(pager);

				    var startPager = currentPage > 2 ? currentPage - 2 : 0;
				    var endPager = startPager > 0 ? currentPage + 3 : 5;
				    if (endPager > pages) {
				      endPager = pages;
				      startPager = pages - 5;    if (startPager < 0)
				        startPager = 0;
				    }

				    for (var page = startPager; page < endPager; page++) {
				      $('<span id="pg' + page + '" class="' + (page == currentPage ? 'pg-selected' : 'pg-normal') + '"></span>').text(page + 1).bind('click', {
				          newPage: page
				        }, function (event) {
				          currentPage = event.data['newPage'];
				          $table.trigger('repaginate');
				      }).appendTo(pager);
				    }

				    $('<button class="pg-goto"> Next » </button>').bind('click', function () {
				      if (currentPage < pages - 1)
				      currentPage++;
				      $table.trigger('repaginate');
				    }).appendTo(pager);
				    $('<button class="pg-goto"> Last » </button>').bind('click', function () {
				      currentPage = pages - 1;
				      $table.trigger('repaginate');
				    }).appendTo(pager);

				    if (!$table.next().hasClass("pager"))
				      pager.insertAfter($table);
				      //pager.insertBefore($table);
				    	
				  }// end $table.bind('repaginate', function () { ...

				  $table.find(
				  'tbody tr:not(:has(th))').hide().slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage).show();
				  });

				  $table.trigger('repaginate');
				});
    });
</script>
