@page
@model BSSL_SIWES.Web.Pages.Setup.InstitutionStudyLevelModel
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "InstitutionStudyLevel";
}

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Institution Level of Study Setup</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form">
            <div class="card-body">
                <div id="divinput">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="exampleInputFile">Institution </label>
                                <select class="form-control select2 select2-purple" data-dropdown-css-class="select2-purple"
                                        asp-items="ViewBag.Institution" style="width: 100%; text-transform:uppercase" id="drpinstitution">
                                    <option selected="selected" value="-1">-- Select Institution --</option>
                                   </select>
                                <input asp-for="Institution.Id" id="hddidinstitution" type="hidden" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="exampleInputFile">Level Code</label>
                                <input type="text" class="form-control" id="txtcode">
                                <input id="hddeditid" type="hidden" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Level Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtname">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="exampleInputFile">Level Duration</label>
                                <input type="text" class="form-control" id="txtduration">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div id="divadd" class="justify-content-center" style="margin-left:35%; margin-bottom:1%;">
                    <button type="submit" id="BtnCancel" class="btn btn-primary button button4">Cancel Records</button>
                    <button type="submit" id="Btnsave" class="btn btn-primary button button4">Add New Records</button>
                    <button type="submit" id="Btnupdate" class="btn btn-primary button button4">Update Record</button>
                </div>
                <div class="row" id="divgrid">
                    <div style="display:table; margin:0 auto; width:100%; font-size:medium">
                        <table id="tabId" class="table table-bordered" border="0">
                            <thead style="background-color:steelblue;">
                                <tr>
                                    <th style="width:0.25%; text-align:center">S/N</th>
                                    <th style="width:10%; text-align:center">Actions</th>
                                    <th style="width:40%; text-align:center">Institution Name</th>
                                    <th style="width:20%; text-align:center">Level Code</th>
                                    <th style="width:30%; text-align:center">Level Name</th>
                                    <th style="width:10%; text-align:center">Duration</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.InstLevelStudyList.Count; i++)
                                {
                                    var items = Model.InstLevelStudyList[i];
                                    //var news = await db.Customers

                                <tr>
                                    <td class="se_no @i" style="width:0.25%; text-align:left">@(i + 1)</td>
                                    <td style="width:5%;">
                                        <input type="hidden" class="tabdrpinstitution @i" value="@items.Institution.Id">
                                        <input type="hidden" class="readid @i" value="@items.Id">
                                        <a id="myEdit" AddreEdit="@i" asp-route-id="@items.Id">Edit</a>
                                    </td>
                                    <td class="tabdrpname @i" style="width:20%; text-align:left">@items.Institution.Name</td>
                                    <td class="tabcode @i" style="width:20%; text-align:left">@items.Code</td>
                                    <td class="tabname @i" style="width:60%; text-align:left">@items.Name</td>
                                    <td class="tabdura @i" style="width:60%; text-align:left">@items.Duration</td>

                                    

                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        formClear();
        function formClear() {
            $("#txtcode").val("");
            $("#txtname").val("");
             $("#txtduration").val("");
            $("#drpinstitution").val("-1")
            $("#hddidinstitution").val("");
            $("#hddeditid").val("");
            $("#Btnsave").show();
            $("#Btnupdate").hide(); $('#txtcode').prop("readonly", false);
        }
        $('#BtnCancel').on('click', function (e) {
            e.preventDefault();
            formClear();
        });
        $('#Btnsave').on('click', function (e) {
             if ($('#drpinstitution').val() == "-1") {
                alert("Please Select Institution");
                return false;
            }
            if ($('#txtcode').val() == "") {
                alert("Please Enter Level Code");
                return false;
            }
             if ($('#txtname').val() == "") {
                alert("Please Enter Level Name");
                return false;
            }
             if ($('#txtduration').val() == "") {
                alert("Please Enter Level Duration");
                return false;
            }
            e.preventDefault();
            var drpinstitution = document.getElementById('drpinstitution').value;
            var hdddrpname = $("#drpinstitution option:selected").html();
            var txtcode = document.getElementById('txtcode').value;
            var txtname = document.getElementById('txtname').value;
            var txtduration = document.getElementById('txtduration').value;
            var d = {
                "Code": txtcode,
                "Name": txtname,
                "InstitutionId": Number(drpinstitution),
                "Duration": txtduration
            };
            var baseUrl = window.location.origin;
            $.ajax({
                type: "POST",
                url: baseUrl + '/Api/InstLevelStudies',
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },

                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    var myid = data['id'];
                    var rowNumber = $('#tabId tr').length;
                    var html = `<tr>
                                </td>
                                    <td class="se_no" style="width:0.25%; text-align:left">${rowNumber}</td>
                                    <td style="width:5%;" class="action">
                                    <input type="hidden" value=${myid}>
                                    <a href="/Setup/InstitutionStudyLevel/${myid}">Edit</a>
                                </td>
                                <td class="tabdrpname" style="width:15%; text-align:left">${hdddrpname}</td>
                                <td class="tabcode" style="width:20%; text-align:left">${txtcode}</td>
                                <td class="tabname" style="width:20%; text-align:left">${txtname}</td>
                                <td class="tabdura" style="width:60%; text-align:left">${txtduration}</td>

                            </tr>`
                    $('#tabId').append(html);
                    formClear();
                    location.reload();
                },
            });
        });
         $("#tabId").on('click', '#myEdit', function () {
            $("#Btnsave").hide();
            $("#Btnupdate").show();
           // $("#BtnEditSubMenu").show()
            var currentRow = $(this).closest("tr");
            var selectedIndex = currentRow.find("td:eq(0)").html();

            var editindex = $(this).attr('AddreEdit');
            var tabcode = $('.tabcode.' + editindex).text();
             var tabname = $('.tabname.' + editindex).text();
             var tabdura = $('.tabdura.' + editindex).text();
             var tabdrpinstitution = $('.tabdrpinstitution.' + editindex).val();
              var hddeditid = $('.readid.' + editindex).val();
            $("#drpinstitution").val(tabdrpinstitution);
            $("#txtcode").val(tabcode);
            $("#txtname").val(tabname);
            $("#txtduration").val(tabdura);
            $("#hddidinstitution").val(tabdrpinstitution);
            $("#hddeditid").val(hddeditid);
            $('#rowIndex').val(selectedIndex);
              $('#txtcode').prop("readonly", true);
            serialNo = $(this).closest('tr').find('.se_no').text();
            return false;

        });
        $('#Btnupdate').on('click', function (e) {
             if ($('#drpinstitution').val() == "-1") {
                alert("Please Select Institution");
                return false;
            }
            if ($('#txtcode').val() == "") {
                alert("Please Enter Level Code");
                return false;
            }
             if ($('#txtname').val() == "") {
                alert("Please Enter Level Name");
                return false;
            }
             if ($('#txtduration').val() == "") {
                alert("Please Enter Level Duration");
                return false;
            }
            e.preventDefault();
            var editindex = document.getElementById('hddeditid').value;
            var drpinstitution = document.getElementById('drpinstitution').value;
            var hdddrpname = $("#drpinstitution option:selected").html();
            var txtcode = document.getElementById('txtcode').value;
            var txtname = document.getElementById('txtname').value;
            var txtduration = document.getElementById('txtduration').value;
            var d = {
                "Id": Number(editindex),
                "Code": txtcode,
                "Name": txtname,
                "InstitutionId":Number(drpinstitution),
                "Duration": txtduration
            };
            //alert(editindex); alert(txtname); alert(txtcode); alert(drpListCat); alert(drpAgency);
            //return false;
            var t = serialNo - 1;
            var baseUrl = window.location.origin;
            $.ajax({
                type: "PUT",
                url: baseUrl + '/Api/InstLevelStudies/ ' + editindex,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    $('.readid.' + t).text(data["id"]);
                    $('.tabdrpname.' + t).text(hdddrpname);
                    $('.tabcode.' + t).text(data["code"]);
                    $('.tabname.' + t).text(data["name"]);
                    $('.tabdura.' + t).text(data["txtduration"]);
                    $('.tabdrpinstitution.' + t).text(data["InstitutionId"]);
                    formClear();
                },
            });
        });
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
