@page
@model BSSL_SIWES.Web.InstitutionCategoryModel
@{
    ViewData["Title"] = "InstitutionCategory";
}
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Institution Category Setup</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" id="formid">
            <div class="card-body">
                <div id="divinput">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="exampleInputFile">Institution Category Code</label>
                                <input asp-for="InstCatSetup.Code" type="text" class="form-control" id="txtcode">
                                <input asp-for="InstCatSetup.Id" id="hddid" type="hidden" class="form-control" />
                                <input type="hidden" id="rowIndex" class="form-control" />

                            </div>
                            <span asp-validation-for="InstCatSetup.Code" class="text-danger"></span>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Institution Category Name</label>
                                <div class="input-group">
                                    <input asp-for="InstCatSetup.Name" type="text" class="form-control" id="txtname">
                                </div>
                            </div>
                            <span asp-validation-for="InstCatSetup.Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div id="divadd" class="justify-content-center" style="margin-left:35%; margin-bottom:1%;">
                    <button type="button" id="BtnCancel" class="btn btn-primary button button4">Cancel Records</button>
                    <button type="button" id="Btnsave" class="btn btn-primary button button4">Add New Records</button>
                    <button type="button" id="Btnupdate" class="btn btn-primary button button4">Update Record</button>
                </div>
                <div class="row" id="divgrid">
                    <div style="display:table; margin:0 auto; width:100%; font-size:medium">
                        <table id="tabId" class="table table-bordered" border="0">
                            <thead style="background-color:steelblue;">
                                <tr>
                                    <th style="width:0.25%; text-align:center">S/N</th>
                                    <th style="width:10%; text-align:center">Actions</th>
                                    <th style="width:20%; text-align:center">Category Code</th>
                                    <th style="width:40%; text-align:center">Category Name</th>

                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.InstCatSetups.Count; i++)
                                {
                                    var items = Model.InstCatSetups[i];
                                    //var news = await db.Customers

                                    <tr>
                                        <td class="se_no @i" style="width:0.25%; text-align:left">@(i + 1)</td>
                                        <td style="width:5%;">
                                            <input type="hidden" class="readid @i" value="@items.Id">
                                            <a id="myEdit" AddreEdit="@i" asp-route-id="@items.Id">Edit</a>
                                        </td>
                                        <td class="tabcode @i" style="width:20%; text-align:left">@items.Code</td>
                                        <td class="tabname @i" style="width:60%; text-align:left">@items.Name</td>



                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            formClear();
            function formClear() {
                $("#txtcode").val("");
                $("#txtname").val("");
                $("#hddid").val("");
                $("#rowIndex").val("");
                $("#Btnsave").show();
                $("#Btnupdate").hide();
                $('#txtcode').prop("readonly", false);
            }
            $('#BtnCancel').on('click', function (e) {
                e.preventDefault();
                formClear();
            });
            $('#Btnsave').on('click', function (e) {
                $("#Btnsave").show();
                $("#Btnupdate").hide();
                e.preventDefault();
                var txtcode = document.getElementById('txtcode').value;
                var txtname = document.getElementById('txtname').value;
                var d = {
                    "Code": txtcode,
                    "Name": txtname,
                };
                var baseUrl = window.location.origin;

                $.ajax({
                    type: "POST",
                    url: baseUrl + '/Api/InstCatSetups',
                    data: JSON.stringify(d),
                    xhrFields: {
                        withCredentials: true
                    },

                    contentType: "application/json; charset=utf-8",
                    error: function (data) {
                        alert(data.responseText);
                        //  var container = document.getElementById("formid");
                        //container.insertAdjacentHTML("beforeend", data);
                        //var forms = container.getElementsByTagName("form");
                        //var newForm = forms[forms.length - 1];
                        //$.validator.unobtrusive.parse(newForm);

                    },
                    failure: function (data) {
                        alert(data.responseText);
                    },
                    success: function (data) {



                        var myid = data['id'];
                        var rowNumber = $('#tabId tr').length;
                        var html = `<tr>
                                    </td>
                                        <td class="se_no" style="width:0.25%; text-align:left">${rowNumber}</td>
                                        <td style="width:5%;" class="action">
                                           <input type="hidden" value=${myid}>
                                           <a href="/Setup/InstitutionCategory?id=${myid}">Edit</a>
                                        </td>

                                        <td style="width:20%; text-align:left">${txtcode}</td>
                                        <td style="width:60%; text-align:left">${txtname}</td>

                                    </tr>`
                        $('#tabId').append(html);
                        formClear();
                        location.reload();
                    },
                });

            });
            $("#tabId").on('click', '#myEdit', function () {
                $("#Btnsave").hide();
                $("#Btnupdate").show();
                // $("#BtnEditSubMenu").show()
                var currentRow = $(this).closest("tr");
                var selectedIndex = currentRow.find("td:eq(0)").html();

                var editindex = $(this).attr('AddreEdit');
                var tabcode = $('.tabcode.' + editindex).text();
                var tabname = $('.tabname.' + editindex).text();
                var tabid = $('.readid.' + editindex).val();
                $("#txtcode").val(tabcode);
                $("#txtname").val(tabname);
                $('#hddid').val(tabid);
                $('#rowIndex').val(selectedIndex);
                $('#txtcode').prop("readonly", true);
                serialNo = $(this).closest('tr').find('.se_no').text();
                return false;

            });
            $('#Btnupdate').on('click', function (e) {
                e.preventDefault();
                var editindex = document.getElementById('hddid').value;
                var txtcode = document.getElementById('txtcode').value;
                var txtname = document.getElementById('txtname').value;
                var d = {
                    "Code": txtcode,
                    "Name": txtname,
                    "Id": Number(editindex),
                };
                var t = serialNo - 1;
                var baseUrl = window.location.origin;
                $.ajax({
                    type: "PUT",
                    url: baseUrl + '/Api/InstCatSetups/ ' + editindex,
                    data: JSON.stringify(d),
                    xhrFields: {
                        withCredentials: true
                    },
                    contentType: "application/json; charset=utf-8",
                    error: function (data) {
                        alert(data.responseText);
                    },
                    failure: function (data) {
                        alert(data.responseText);
                    },
                    success: function (data) {
                        $('.readid.' + t).text(data["id"]);
                        $('.tabcode.' + t).text(data["code"]);
                        $('.tabname.' + t).text(data["name"]);
                        formClear();

                        //var w = $('.tabcode.' + t);
                        //var p = data['code'];
                        //var a = $('.tabname.' + t);
                        //var h = data['name'];

                        //var v = $('.readid.' + t);
                        //var y = data["id"];

                        //v.text(y);
                        //w.text(p);
                        //a.text(h);

                    },
                });
            });
            $('#txtcode').on('change', function () {
                var txtcode = $("#txtcode").val();
                //alert(txtcode);
                return false;
                var d = {
                    "Code": txtcode
                };
                var baseUrl = window.location.origin;

                $.ajax({
                    type: "GET",
                    url: baseUrl + '/Api/InstCatSetups/' + txtcode,
                    data: JSON.stringify(d),
                    xhrFields: {
                        withCredentials: true
                    },

                    contentType: "application/json; charset=utf-8",
                    error: function (data) {
                        alert(data.responseText);

                    },
                    failure: function (data) {
                        alert(data.responseText);
                    },
                    success: function (data) {
                        // $('#myEdit')
                        var myid = data['Id'];
                        var rowNumber = $('#tabId tr').length;
                        $('#hddid').val(data["1d"]);
                        $('#txtcode').val(data["code"]);
                        $('#txtname').val(data["name"]);

                        // $('#hddid').val(tabid);
                        // $('#rowIndex').val(selectedIndex);
                        // formClear();
                        // formClear();
                        // location.reload();
                    },
                });

            });
        })
    </script>

    <partial name="_ValidationScriptsPartial" />
}
