@page
@inject SiwesData.ApplicationDbContext db
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@model BSSL_SIWES.Web.ProfileRoleModel
@{
    ViewData["Title"] = "ProfileRole";
}

<div class="content-wrapper" style="margin-top:-50px">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">User Definition</h3>
                        </div>
                        <form>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label class="control-label">User RoleId/Group ID:</label>
                                            <input asp-for="RoleTb.RoleId" id="roleId" class="form-control" onchange="UserCheck()" />
                                            <p id="Status"></p>
                                            <span asp-validation-for="RoleTb.RoleId"></span>
                                            <input asp-for="RoleTb.Id" id="myidd" type="hidden" class="form-control" />

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label class="control-label">User Role/Group Name:</label>
                                            <input asp-for="RoleTb.Name" id="roleName" class="form-control" onchange="UserCheck()" />
                                            <p id="Status"></p>
                                            <span asp-validation-for="RoleTb.Name"></span>
                                            @*<input asp-for="RoleTb.Id" id="myidd" type="hidden" class="form-control" />*@
                                            @*<input type="hidden" id="menuhdd" class="form-control" />
                                                <input type="hidden" id="rowIndex" class="form-control" />
                                                <label asp-for="Menu.Name" class="control-label"></label>
                                                <input asp-for="Menu.Name" id="MENUNAME" class="form-control" />
                                                <span asp-validation-for="Menu.Name" class="text-danger"></span>*@
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" style="margin: 0 auto; text-align: center">
                                    <button type="submit" id="BtnMenu" style="width:300px" class="btn btn-primary button button4">SUBMIT</button>

                                    <button type="submit" id="BtnUpdate" style="width:300px; display:none" class="btn btn-primary button button4">UPDATE</button>
                                </div>

                            </div>
                        </form>
                        <div style="display:table; margin:0 auto; width:100%; font-size:medium">
                            <table id="tabId" class="table table-bordered" border="0">
                                <thead style="background-color:steelblue;">
                                    <tr>
                                        <th style="width:6%; text-align:center">Actions</th>
                                        <th style="width:0.25%; text-align:center">S/N</th>
                                        <th style="width:20%; text-align:center">UserRole ID/Group ID</th>
                                        <th style="width:30%; text-align:center">UserRole Name</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.RoleTbs.Count; i++)
                                    {
                                        var items = Model.RoleTbs[i];

                                        <tr>
                                            <td style="width:6%;">
                                                <input type="hidden" class="readid @i" value="@items.Id">
                                                <a id="myEdit" AddreEdit="@i" asp-route-id="@items.Id">Select</a>
                                            </td>
                                            <td class="se_no" style="width:0.25%; text-align:left">@(i + 1)</td>
                                            <td class="roleclass @i" style="width:20%; text-align:left">@items.RoleId</td>
                                            <td class="titleclass @i" style="width:30%; text-align:left">@items.Name</td>


                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script type="text/javascript">

    $(document).ready(function () {

        function formClear() {
            $("#roleId").val("");
            $("#roleName").val("");
        }
        var serialNo;
        $("#tabId").on('click', '#myEdit', function () {
            $("#BtnMenu").hide()
            $("#BtnUpdate").show()
             document.getElementById('roleId').readOnly 
                = true;
            document.getElementById('roleName').focus 
                        = true; 
            var currentRow = $(this).closest("tr");
            var selectedIndex = currentRow.find("td:eq(0)").html();
            var editindex = $(this).attr('AddreEdit');
            var Roleid = $('.roleclass.' + editindex).text();
            var Role = $('.titleclass.' + editindex).text();
            var myid = $('.readid.' + editindex).val();
            $('#roleId').val(Roleid);
            $('#roleName').val(Role);
            $('#myidd').val(myid);
            $('#rowIndex').val(selectedIndex);

            serialNo = $(this).closest('tr').find('.se_no').text();

            //alert($('#rowIndex').val());
            return false;

        });
        $('#BtnMenu').on('click', function (e) {
            e.preventDefault();

            var Roleid = document.getElementById('roleId').value;
            var Role = document.getElementById('roleName').value;

            var d = {
                "RoleId": Roleid,
                "Name": Role,
            };
            var baseUrl = window.location.origin;
            $.ajax({
                type: "POST",
                url: baseUrl + '/Api/RoleTbs',
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },

                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {

                    alert("Succesfully");
                    console.log(data);
                    var myid = data['id'];
                    var rol = data['roleId'];
                    var nam = data['name'];


                    var rowNumber = $('#tabId tr').length;
                    var html = `<tr>
                        <td style="width:6%;" class="action">
                        <a id=${myid}">Select</a>
                        </td>
                        <td class="se_no" style="width:3%; text-align:left">${rowNumber}</td>
                        <td style="width:20%; text-align:left">${rol}</td>
                        <td style="width:30%; text-align:left">${nam}</td>

                    </tr>`

                    $('#tabId').append(html);
                    formClear();

                },
            });
        });
        $('#BtnUpdate').on('click', function (e) {
            e.preventDefault();
           
            var Roleid = document.getElementById('roleId').value;
            var Role = document.getElementById('roleName').value;
            var editindex = document.getElementById('myidd').value;

            var t = serialNo - 1;
            var d = {
                "Id": editindex,
                "RoleId": Number(Roleid),
                "Name": Role,

            };
            var baseUrl = window.location.origin;
            $.ajax({
                type: "PUT",
                url: baseUrl + '/Api/RoleTbs/' + editindex,
                data: JSON.stringify(d),

                xhrFields: {
                    withCredentials: true
                },

                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);
                },

                failure: function (data) {
                    alert(data.responseText);
                },

                success: function (data) {
                    alert("Update Successful");
                    console.log(data);
                    var myid = data['id'];
                    var rub = data['roleId'];
                    var sub = data['name'];

                    var s = $('.roleclass.' + t);
                    var v = data['roleId'];
                    var w = $('.titleclass.' + t);
                    var p = data['name'];

                    s.text(v);
                    w.text(p);
                    formClear();
                    document.getElementById('roleId').readOnly
                        = false;
                    $("#BtnMenu").show()
                    $("#BtnUpdate").hide()
                },
            });
        });

    });

</script>
@*public async Task<ActionResult<RoleTb>> PostRoleTb(RoleTb roleTb)
    {
            var nameCheck = _context.RoleTb
                        .Where(b => b.RoleId == roleTb.RoleId)
                        .FirstOrDefault();
            if (nameCheck == null)
            {
                // save the item here
                _context.RoleTb.Add(roleTb);
                await _context.SaveChangesAsync();
            }
            else
            {
                return Conflict("The item already exists");
            }

            return CreatedAtAction("GetRoleTb", new { id = roleTb.RoleId }, roleTb);
    }*@

