@page
@inject SiwesData.ApplicationDbContext db
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity;
@model BSSL_SIWES.Web.SubmenuModel
@{
    ViewData["Title"] = "Submenu";
}

<div class="content-wrapper" style="margin-top:-50px">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">SetUp SubMenus</h3>
                        </div>
                        <form>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input id="mainMenu" type="hidden" class="form-control" />
                                            <input type="hidden" id="rowIndex" class="form-control" />
                                            <input asp-for="SubMenu.Id" type="hidden" id="myidd" class="form-control" />
                                            <label asp-for="SubMenu.MenuId" class="control-label"></label>
                                            <select asp-for="SubMenu.MenuId" class="form-control menuID" name="myMenu" id="myMenu" asp-items="ViewBag.MenuId">
                                                <option value="0">--Select Menu--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="SubMenu.FormId" class="control-label"></label>
                                            <input asp-for="SubMenu.FormId" id="myForm" class="form-control" />
                                            <span asp-validation-for="SubMenu.FormId" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="SubMenu.Name" class="control-label"></label>
                                            <input asp-for="SubMenu.Name" id="mySub" class="form-control" />
                                            <span asp-validation-for="SubMenu.Name" class="text-danger"></span>
                                            <span style="width:20px"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="SubMenu.PageUrl" class="control-label"></label>
                                            <input asp-for="SubMenu.PageUrl" id="myUrl" class="form-control" />
                                            <span asp-validation-for="SubMenu.PageUrl" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="BtnSubMenu" class="btn btn-primary button button4">SUBMIT</button>
                                    <button type="submit" id="BtnEditSubMenu" class="btn btn-primary button button4" style="display:none">UPDATE</button>
                                </div>
                            </div>
                        </form>
                        <div style="display:table; margin:0 auto; width:100%; font-size:medium">
                            <table id="tabId" class="table table-bordered" border="0">
                                <thead style="background-color:steelblue;">
                                    <tr>
                                        <th style="width:4%; text-align:center">Actions</th>
                                        <th style="width:0.25%; text-align:center">S/N</th>
                                        <th style="width:20%; text-align:center">MenuName</th>
                                        <th style="width:8%; text-align:center">FormId</th>
                                        <th style="width:20%; text-align:center">SubMenuName</th>
                                        <th style="width:10%; text-align:center">PageUrl</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.SubMenus.Count; i++)
                                    {
                                        var items = Model.SubMenus[i];
                                    <tr>
                                        <td style="width:4%;">
                                            @*<input type="hidden" class="menuID" value="@items.MenuId" />*@
                                            <input type="hidden" class="readid @i" value="@items.Id">
                                            <a id="myEdit" onclick="BtnEdit" AddreEdit="@i" asp-route-id="@items.Id">Select</a>
                                        </td>
                                        <td class="se_no" style="width:0.25%; text-align:left">@(i + 1)</td>
                                        <td class="menuclass @i" style="width:20%; text-align:left">
                                            @items.Menu.Name
                                            <input type="hidden" class="menuid2" id="hddmenuid" value="@items.Menu.Id" />
                                        </td>
                                        <td class="formclass @i" style="width:8%; text-align:left">@items.FormId</td>
                                        <td class="menuid2 @i" style="width:8%;display:none; text-align:left">@items.Menu.Id</td>
                                        <td class="subclass @i" style="width:20%; text-align:left">@items.Name</td>
                                        <td class="urlclass @i" style="width:10%; text-align:left">@items.PageUrl</td>
                                        

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $("#tabId").on('click', '#myEdit', function () {
            $("#BtnSubMenu").hide()
            $("#BtnEditSubMenu").show()
            var currentRow = $(this).closest("tr");
            var selectedIndex = currentRow.find("td:eq(0)").html();

            var editindex = $(this).attr('AddreEdit');
            var menuName = $('.menuclass.' + editindex).text();
            var menuNameId = $('.menuID .option:selected').val();
            var hddmenuid = $('.menuid2.' + editindex).text();    
            var form = $('.formclass.' + editindex).text();
            var sub = $('.subclass.' + editindex).text();
            var url = $('.urlclass.' + editindex).text();
            var myid = $('.readid.' + editindex).val();

            $('[name=myMenu]').val(hddmenuid)
            $("#mainMenu").val(menuName);         
            $('#myForm').val(form);
            $('#mySub').val(sub);
            $('#myUrl').val(url);
            $('#myidd').val(myid);
            $('#rowIndex').val(selectedIndex);
            serialNo = $(this).closest('tr').find('.se_no').text();
            //alert(selectedIndex);

            return false;

        });
    })
</script>
<script type="text/javascript">

    $(document).ready(function () {
        function formClear() {
            $("#myMenu")[0].selectedIndex = 0;    
            $("#myForm").val("");
            $("#mySub").val("");
            $("#myUrl").val("");

        }
        $('#BtnSubMenu').on('click', function (e) {
            e.preventDefault();

            var myMenu = document.getElementById('myMenu').value;
          
            var myForm = document.getElementById('myForm').value;
          
            var mySub = document.getElementById('mySub').value;
          
            var myUrl = document.getElementById('myUrl').value;
          
            var menuName = $('#myMenu option:selected').html();
          

            var d = {
                "Name": mySub,
                "PageUrl": myUrl,
                "MenuId": Number(myMenu),
                "FormId": myForm,     
                
                
            };

            var baseUrl = window.location.origin;

            $.ajax({
                type: "POST",
                url: baseUrl + '/Api/SubMenus',
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },

                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {

                    alert("Succesfully");
                    console.log(data);
                    ////after success add a new row to the table created
                     
                    var myid = data['id'];
                   
                    var url = data['pageUrl'];
                    var menu = data['menuname'];
                     //var sub = data['subMenuName'];
                    var form = data['formId'];

                    var rowNumber = $('#tabId tr').length;
                    var html = `<tr>
                        <td style="width:4%;" class="action">
                        <a id=${myid}">Select</a>
                        </td>
                        <td class="se_no" style="width:0.25%; text-align:left">${rowNumber}</td>                      
                        <td style="width:20%; text-align:left">${menuName}</td>
                        <td style="width:8%; text-align:left">${form}</td>
                        <td style="width:20%; text-align:left">${mySub}</td>                       
                        <td style="width:10%; text-align:left">${url}</td>               
                    </tr>`
                    $('#tabId').append(html);   
                    formClear();

                },
            });
        });
        $('#BtnEditSubMenu').on('click', function (e) {
            e.preventDefault();
            var menuName = document.getElementById('myMenu').value;
            var formname = document.getElementById('myForm').value;
            var subMenuName = document.getElementById('mySub').value;
            var pageURL = document.getElementById('myUrl').value;
            var editindex = document.getElementById('myidd').value;
            //var selectedMenu = $("#menuName option:selected").html();

            var t = serialNo - 1;
            var d = {
                "Id": Number(editindex),
                "Name": subMenuName,
                "PageUrl": pageURL,
                "FormId": formname,
                "MenuId": Number(menuName),
            };

            var baseUrl = window.location.origin;
            $.ajax({
                type: "PUT",
                url: baseUrl + '/Api/SubMenus/ ' + editindex,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                   alert("Update Successful");
                    console.log(data);
                   
                    var myid = data['id'];
                 
                    var sub = data['name'];
                    var url = data['pageUrl'];
                    var menu = data['menuId'];
                    var form = data['formId'];
                  
              
                    var w = $('.subclass.' + t);
                    var p = data['name'];
                    var a = $('.urlclass.' + t);
                    var h = data['pageUrl'];
                  
                    var v = $('.formclass.' + t);
                    var y = data["formId"];  
                    
                    v.text(y);
                    w.text(p);
                    a.text(h);
                    formClear();
                },
            });
        });

    });

</script>

