@page
@model BSSL_SIWES.Web.Pages.Account.CreateSchCord

@{
    //ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
@*<div class="content-wrapper" style="margin:0 auto; background-color:#fff; display:table">
    <div class="row">*@
        <div class="col-md-8" style="margin:0 auto; display:table">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create School Cordinator Account</h3>
                </div>
                <div>
                    @if (!string.IsNullOrWhiteSpace(Model.successm))
                    {
                        <div class="alert alert-dismissible alert-success">
                            @Model.successm
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.errorm))
                    {
                        <div class="alert alert-dismissible alert-danger">
                            @Model.errorm
                        </div>
                    }
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post">
                    <div class="card-body">
                        @*<div class="spinner-border text-primary loading-img loade" role="status">
            <span class="sr-only">Loading...</span>
        </div>*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Input.InstName">Institution Name</label>
                                    <div class="danger">
                                        <span asp-validation-for="Input.InstName" class="text-danger"></span>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input asp-for="Input.InstName" id="txtInsName" class="form-control" placeholder="Search for Institution Name">
                                        <input type="hidden" asp-for="Input.InstId" id="hddInsId" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Input.Email">Email</label>
                                    <div class="danger">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-evenlope"></i></span>
                                        </div>
                                        <input asp-for="Input.Email" id="txtemail" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Input.Name">Name</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input asp-for="Input.Name" id="txtname" readonly="readonly" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label asp-for="Input.Password">Password</label>
                                    <div class="danger">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                        <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <div class="danger">
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                        <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Retype-password">
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->

                            <div class="justify-content-center" style="margin-left:35%;  margin-bottom:3%;">
                                <input type="submit" id="btncreate" value="Create Account" class="btn btn-primary" />
                            </div>
                        </div>

                    </div>
</form>

            </div>
        </div>
    @*</div>
</div>*@

<!-- page script -->
<script type="text/javascript">

     var listinst = [];

    function getinsts(lbl, val) {
        listinst.push({ label: lbl, value: val });
    }
    $(document).ready(function () {

        $('#txtemail').on('change', function () {

            var instCordEmail = $("#txtemail").val();
          //  alert($("#hddInsId").val());
            d = {
                "instCordEmail": instCordEmail, "instid":"1", "offtype":"2"
            }
            var baseUrl = window.location.origin;
            var url = baseUrl + '/API/RegCord/ '+instCordEmail ;
            $.ajax({
                type: "GET",
                url: url,
                data: JSON.stringify(d),
                xhrFields: {
                    withCredentials: true
                },
                
                contentType: "application/json; charset=utf-8",
                error: function (data) {
                    //console.log(data);
                    alert(data.responseText);

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                     // alert(data);
                    if (data == "notexist") {

                        alert("Wrong email or the coordinator information has not been registered")
                        $("#txtemail").val("");
                        $("#txtname").val("");
                    }
                    else if (data == "alreg")
                    {
                          alert("The email has been registered before please check")
                        $("#txtemail").val("");
                        $("#txtname").val("");
                    }
                    else if (data == "exist") {

                        alert("Account already exist ");
                        $("#txtemail").val("");
                        $("#txtname").val("");
                    }
                    else if (data == "syserr") {

                        alert("System error: Please try again or contact adminitrator  ")
                    }
                    else {
                        $("#txtname").val(data[0]);
                           $("#txtemail").val(data[1]);
                    }
                  
                },
            });
        });
        $('#drprolegrp').on('change', function () {

            $("#hddrolegrp").val($(this).find("option:selected").text());
          


        })
        $('#btncreate').click(function () {
 
            $('.loader').show(300);
        });
        @if (Model.Listofinst != null)
        {
                 @foreach (var item in Model.Listofinst)
                {
                     
                    @:getinsts('@item.Name', '@item.Id');
                }
        }
        $("#txtInsName").autocomplete({
            source: listinst,
            select: function (event, ui) {
                $('#txtInsName').val(ui.item.label);
                $('#hddInsId').val(ui.item.value);
               // alert($('#hddInsId').val());
                return false;
            }
        });
})
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
