@inject SiwesData.ApplicationDbContext db
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity

@using System.Collections.Generic

@using Microsoft.AspNetCore.Http

@using SiwesData.Setup
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<RoleTb> roleManager


@{
    //var ListCategories = db.mainCategories.Include(m => m.SubCategories);

    // var menulist = db.SubMenu.Include(m => m.MenuAccesses);
    //private readonly UserManager<IdentityUser> _userManager;
    //private readonly AspNetRoleManager<RoleTb> _roleManager;

    //public LayoutModel( UserManager<IdentityUser> userManager, AspNetRoleManager<RoleTb> roleManager)
    //{
    //    _userManager = userManager;
    //    _roleManager = roleManager;
    //}
    //var getuserrole = "";    var menulist ;  var menulist3 = new List<string>();
    //if (SignInManager.IsSignedIn(User))
    //{
    var getuserrole = "";   var menulist3 = (dynamic)null;    var menulist = (dynamic)null;
    if (SignInManager.IsSignedIn(User))
    {
        var CurUser = await UserManager.GetUserAsync(User);
        var currole = await UserManager.GetRolesAsync(CurUser);
        var rolem = await roleManager.FindByNameAsync(currole[0]);

        if (currole != null)
        {
            getuserrole = rolem.RoleId.ToString();
        }
        //  var roleuser = db.RoleTb.Join(db.RoleTb, m => m.Id, sub => sub. )
        menulist3 = db.Menu.Join(db.SubMenu, m => m.Id, sub => sub.MenuId, (m, sub) => new { m, sub })
         .Join(db.MenuAccess, Macc => Macc.sub.Id, macc2 => macc2.SubMenuId, (Macc, macc2) => new { Macc, macc2 })
         .Where(k => k.macc2.RoleId == getuserrole)
         .Select(m => new
         {
             MenuName = m.Macc.m.Name,
             Menuid = m.Macc.m.Id,
             SubMenuid = m.Macc.sub.Id,
             Pageurl = m.Macc.sub.PageUrl,
             SubMenuName = m.Macc.sub.Name


         }).ToList();


        var menulist4 = db.Menu.Join(db.SubMenu, m => m.Id, sub => sub.MenuId, (m, sub) => new { m, sub })
         .Join(db.MenuAccess, Macc => Macc.sub.Id, macc2 => macc2.SubMenuId, (Macc, macc2) => new { Macc, macc2 })
         .Where(k => k.macc2.RoleId == getuserrole)
         //  .GroupBy( k = k )
         .Select(m => new
         {
             MenuName = m.Macc.m.Name,
             Menuid = m.Macc.m.Id
         }).ToList();

        menulist = menulist4.GroupBy(c => c.Menuid, (key, c) => c.FirstOrDefault());
    }
    //  }

    //var user = await UserManager.FindByIdAsync(UserId);
    //var roles = await _userManager.GetRolesAsync(user);


    //var user = await this.db.Users.Where (x => x.Id == CurUser.Id ).Include (x => x.Id).FirstOrDefaultAsync ();



    ////  var user = await UserManager.FindByEmailAsync(model.Email);
    //  // Get the roles for the user
    //  var roles = await UserManager.GetRolesAsync(user1);




    //#region get user role
    //   var  userrole  =
    //#endregion




}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - New_Siwes_Application</title>
    <!-- jquery script -->
    <script src="~/template/plugins/jquery/jquery.js"></script>

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/template/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/template/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/template/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/template/dist/css/adminlte.min.css">
    <!-- Jquery ui style -->
    <link href="~/template/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/template/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/template/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/template/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-red navbar-light shadow-none p-3 mb-5">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">

                    @*<a href="~/Areas/Identity/Pages/Account/Login" class="nav-link">Register</a>
                        <a asp-page="Areas/Identity/Pages/Account/Login" class="nav-link">

                            <p>
                                Log ins
                                <span class="right badge badge-danger">New</span>
                            </p>
                        </a>*@
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "Identity" })" method="post">
                        <button type="submit" class="nav-link btn btn-link">Log in</button>
                    </form>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>*@

            </ul>

            @*Search Form
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input id="tags" class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>*@

            <!-- Right navbar links -->
            @{
                //var InstOff = userManager.GetUserId(User);
                var InstOff = 1;
                var newCourse = db.NewCourseRequests.Where(s => s.InstitiutionOfficerId == InstOff && s.Approved == false).ToList();
                var Counting = 0;
                if (newCourse.Count > 0)
                {
                    Counting = newCourse.Count();
                }
                else
                {
                    Counting = 0;
                }

            }
        <ul class="navbar-nav ml-auto">
            <!-- Messages Dropdown Menu -->
            <!-- Notifications Dropdown Menu
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
                <i class="fas fa-power-off"></i>Logout
            </a>
        </div>
    </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>-->
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/Account/Login", new { area = "Identity" })" method="post">
                    <button type="submit" class="nav-link btn btn-link">Log Out</button>
                </form>
            </li>
        </ul>
</nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/website/img/new.jpeg" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">ITF Nigeria</span>
            </a>

            <!-- Sidebar -->
            <!-- <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">


                <partial name="_LoginPartial" />

            </div> -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                 @*   <div class="image">
                        <img src="~/template/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>*@
                    <div class="info">
                        @if (User.Identity.Name != null)
                        {
                        <a href="#" class="d-block">@User.Identity.Name.ToString().Trim()</a>
                        }
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Institution
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-page="/Institution/CreateStudent" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Student Setup</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Institution/AssignSupervisor" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Assign Student Supervisor</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Institution/Student_Visit_Form" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Supervisor Student Visit</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Institution/InstitusionSupervisor" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>ITF FORM 8</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Students
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Students/Form8" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>ITF FORM 8 - SIWES End of Year Program Report Sheet</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Students/DailyActivities" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Daily/Monthly Assessment</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                       @if (menulist != null)
                       {
                       @foreach (var row in menulist)
                       {
                            <li class="nav-item has-treeview">

                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-edit"></i>

                                    <p>
                                        @row.MenuName.ToString().Trim()
                                        <i class="fas fa-angle-left right"></i>
                                    </p>

                                </a>
                                @foreach (var rsub in menulist3)
                                {
                                    if (row.Menuid.ToString() == rsub.Menuid.ToString()
                                        && string.IsNullOrEmpty(rsub.Pageurl.ToString().Trim()) == false)
                                    {
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a asp-page=@rsub.Pageurl.ToString().Trim() class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>@rsub.SubMenuName.ToString()</p>
                                                </a>
                                            </li>

                                        </ul>
                                    }
                                }

                            </li>
                       }
                       }
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Setup
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-page="/Setup/Menu" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Setup Menu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Setup/SubMenu" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Setup Sub-Menu</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Setup/ProfileRole" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Creating Group/Roles</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Setup/InstitutionCategory" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Institution Category Setup</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Setup/InstitutionTypeSetup" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Institution Type Setup</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Setup/InstitutionSetup" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Institution Setup</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Setup/InstitutionStudyLevel" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Level of Study Setup</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Setup/CourseGrpSetup" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Course Group Setup</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Setup/CourseSetup" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Course Setup @Counting</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Setup/SupervisoryAgency" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Supervisory Agency Setup</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Setup/PolicySetup" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Policy Setup</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Setup/InstitutionCapacity" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Institution Capacity Setup</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    Employer
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-page="/Employer/EmployerSetup" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Employer Setup</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Employer/Scaff_Form" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Commencement Form</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-page="/Employer/SupervisorCerif" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Approvals</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Employer/EmployerForm8" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>ITF FORM 8</p>
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
    </div>
    <div class="content-wrapper">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @*@{

                    foreach (var dd in menulist)
                    {
                            <div style="margin-left:500px">

                                <li>
                                    <span> @dd.Menuid</span>
                                    <span> @dd.MenuName</span>


                                </li> <br />
                            </div>
                    }
                }*@

            @RenderBody()
        </main>
    </div>
    <footer class="main-footer" style="margin-bottom:5%">
        <strong>
            Copyright &copy; 2020 -by BSSL Technologies Limited. All Rights Reserved.<br />
            The Company Logo and name are Registered Trade Mark ® of BSSL Technologies Limited.
        </strong>
    </footer>
    @*<footer class="border-top footer text-muted">
            <div class="container justify-content-center">
                &copy; 2020 - New_Siwes_App - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@
    <!-- jQuery UI 1.11.4 -->
    @*<script src="~/plugins/jquery-ui/jquery-ui.min.js></script>*@
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>


    <!-- AdminLTE App -->
    <script src="~/template/dist/js/adminlte.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/template/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/template/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/template/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/template/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/template/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/template/plugins/moment/moment.min.js"></script>
    <script src="~/template/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/template/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>

    @*<script src="../../~/template/plugins/summernote/summernote-bs4.min.js"></script>*@
    <!-- overlayScrollbars -->
    <script src="~/template/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>


    <!-- DataTables -->
    <script src="~/template/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/template/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/template/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/template/dist/js/demo.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
